table{
    text-align: center;
    font-weight: bold;
    height: 410px;
    width: 400px;
    border: 1px solid red;
    background-color: rgb(48 205 176);
    margin: auto;
    margin: auto;
}

input{
    background-color: aqua;
    color: brown;
}

body{
    background-color: burlywood;
}
